@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Oxygen);

body{
	font-family: 'Oxygen', sans-serif;
	color: #2f2f2f;
	background-color: #2f2f2f;
}
*::-webkit-input-placeholder {
  	color: #5f5f5f;
}

*:-moz-placeholder {
  	color: #5f5f5f;
}

*:-ms-input-placeholder { /* IE10+ */
  	color: #5f5f5f;
}

#content{
	.container{
		max-width: 960px;
		margin: 0 auto;	

		#filterPhotos{
			@include transition(width .3s false);
			font-family: 'Oxygen', sans-serif;
			width: 950px;
			border-style: none;
			margin: 10px 0;
			border-radius: 3px;
			font-size: 2em;
			background-color: #9f9f9f;
			padding-left: 10px;
		}

		#photoList{
			margin-bottom: 30px;
			.photo{
				@include transition(width .3s false);
				width: 950px;
				height: 160px;
				background-color:#eba538;
				margin-top: 3px;
				border-radius: 3px;
				padding: 5px;
				
				.image{
					@include transition(width .3s false);
					height: 160px;
					width: 240px;
					overflow: hidden;
					float:left;
					margin-right: 10px;

					img{
						@include transition(width .3s false);
						width: 120%;
						height: auto;

					}
				}
				
				.photodata{
					.title{
						@include transition(width .3s false);
						font-size: 1.8em;
						margin-top: 10px;
						width: 950px;

						h2{
							white-space: nowrap;	
							text-overflow: ellipsis;
							overflow: hidden;
						}


					}
					.links{
						margin-top: 20px;	

						a{
							color: #d94d4d;
						}

					}
					.links *{
						float: left;
						margin-right: 10px;
						text-decoration: none;

					}
										
				}
			}
		}
	}	

}
//DetailedView
.dcontainer{
	background-color: #eba538;
	padding: 20px;
	border-radius: 3px;
	margin-top: 20px!important;

	.dheader{
		font-size: 4em;
		float: left;
		max-width: 90%;
		
	}
	.button{
		float:right;
		margin-top: 20px;

		.arrowleft{
			
			width: 0; 
			height: 0; 
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			border-right:16px solid #2f2f2f ; 
			float:left;

			
		}
		.back{
			text-decoration: none;
			margin-bottom: 25px;
			p{
				color: #eba538;
				background-color: #2f2f2f;
				width: 40px;
				height: 21px;
				margin-left: 16px;
				padding: 5px;
				border-radius: 1px;
				
			}
			
		}	
	}
	.test{
		clear:both;

	}
	#dlinks{
		margin-top: 15px;
		#flickrLinks{
			
		}
		
	}
	.photoContent{
		margin-top: 20px;
		
		.dphoto{
			width: 200px;
			height: auto;
			max-height: 230px;
			overflow: hidden;
			float: left;
			margin-right: 20px;
			img{
				width: 100%;
				height: auto;
			}
		}
		.description{
			display: block;
			display:-ms-flexbox;
			display:-moz-box;
			display:-webkit-box;

			a{
				color: #d94d4d;
			}
		}
		.tags{
			
			p{
				margin-top: 20px;
			}
		}	
	}
}
@media only screen and (max-width: 960px) {
	#content{
	.container{
		width: 100%;
		
		#filterPhotos{
			@include transition(width .3s false);
			width: 95%;
			margin: 10px;
		}

		#photoList{
			.photo{
				@include transition(width .3s false);
				width: 95%;
				margin: 10px;
		
				.photodata{
					.title{
						@include transition(width .3s false);
						width: 95%;
					}		
				}
			}
		}
	}	

}
}
@media only screen and (max-width: 800px) {
	#content{
		.container{
			#photoList{
				.photo{
					.photodata{
						.links{
							a{
								margin: 40px 0 0 4px;
							}						
							p{
								position: absolute;
								margin-left: 252px;
								@include transition(margin-left .3s false);
							}
						}									
					}
				}
			}
		}	
	}
}
@media only screen and (max-width: 580px) {
	#content{
		.container{

		#photoList{
			
			.photo{
				
				.image{
					@include transition(width .3s false);
					width: 180px;

					img{
						@include transition(width .3s false);
						width: 130%;
					}
				}
				
				.photodata{
					.title{
						h2{
							font-size: 0.9em;
						
						}
					}
					.links{
						font-size: 0.8em;
						p{
							@include transition(margin-left .3s false);
							margin-left: 192px;
						}
					}				
				}
			}
		}
	}	

}
}